<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Become a Tandarts{% endblock %}</title>
    <link rel="icon" href="/static/favicon.png" />
      
    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
      
    <!-- Твой основной стиль -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
      
<body>
  <div class="container">
    {% include "_header.html" %}

    {% block content %}{% endblock %}

    {% include "_footer.html" %}
  </div>

  <script>
    const select = document.querySelector('.lang-switch');
    if (select) {
      select.addEventListener('change', () => {
        const lang = select.value;
        const url = new URL(window.location.href);
        url.searchParams.set('lang', lang);
        window.location.href = url.toString();
      });
    }
  </script>
</body>
</html>
